In [2]:
import numpy as np

# Numpy Exercise Problem

#### 1.  Give below numpy array. write and expression which will replace all negative value with 1000

* arr = np.array([5, 0 , -3, 9 ,10,-5, -1])

In [3]:
arr = np.array([5, 0 , -3, 9 ,10,-5, -1])

In [4]:
arr[arr < 0] = 100

In [5]:
arr

array([  5,   0, 100,   9,  10, 100, 100])

#### 2.  Count how many ones in  array.

 * array([[1, 1, 0, 0, 0, 1, 1, 1, 1, 0],
       [0, 1, 1, 1, 1, 0, 1, 1, 1, 0],
       [1, 0, 0, 0, 0, 1, 1, 0, 0, 1],
       [1, 1, 1, 0, 1, 0, 0, 0, 0, 1],
       [0, 1, 0, 1, 0, 1, 1, 1, 1, 1],
       [0, 0, 1, 1, 1, 0, 0, 1, 1, 1],
       [1, 1, 0, 0, 1, 1, 1, 1, 1, 0],
       [0, 1, 1, 1, 0, 1, 1, 1, 1, 0],
       [0, 1, 1, 0, 1, 1, 1, 1, 1, 0],
       [1, 1, 0, 1, 0, 0, 0, 1, 1, 1]])

In [15]:
np.sum(arr)

62

In [17]:
np.sum(np.sum(arr, axis=0))

62

In [21]:
sum(sum(arr))

62

In [25]:
arr[arr == 1].size

62

#### 3.  create numpy arrayof values between 1000 and 2000, all number divisible by 5 but not 15.

In [27]:
for i in range(1000, 2000, 5):
    if(i % 15 != 0):
        print(i)

1000
1010
1015
1025
1030
1040
1045
1055
1060
1070
1075
1085
1090
1100
1105
1115
1120
1130
1135
1145
1150
1160
1165
1175
1180
1190
1195
1205
1210
1220
1225
1235
1240
1250
1255
1265
1270
1280
1285
1295
1300
1310
1315
1325
1330
1340
1345
1355
1360
1370
1375
1385
1390
1400
1405
1415
1420
1430
1435
1445
1450
1460
1465
1475
1480
1490
1495
1505
1510
1520
1525
1535
1540
1550
1555
1565
1570
1580
1585
1595
1600
1610
1615
1625
1630
1640
1645
1655
1660
1670
1675
1685
1690
1700
1705
1715
1720
1730
1735
1745
1750
1760
1765
1775
1780
1790
1795
1805
1810
1820
1825
1835
1840
1850
1855
1865
1870
1880
1885
1895
1900
1910
1915
1925
1930
1940
1945
1955
1960
1970
1975
1985
1990

In [29]:
arr = np.arange(1000, 2000, 5)
arr[arr % 15 != 0]

array([1000, 1010, 1015, 1025, 1030, 1040, 1045, 1055, 1060, 1070, 1075,
       1085, 1090, 1100, 1105, 1115, 1120, 1130, 1135, 1145, 1150, 1160,
       1165, 1175, 1180, 1190, 1195, 1205, 1210, 1220, 1225, 1235, 1240,
       1250, 1255, 1265, 1270, 1280, 1285, 1295, 1300, 1310, 1315, 1325,
       1330, 1340, 1345, 1355, 1360, 1370, 1375, 1385, 1390, 1400, 1405,
       1415, 1420, 1430, 1435, 1445, 1450, 1460, 1465, 1475, 1480, 1490,
       1495, 1505, 1510, 1520, 1525, 1535, 1540, 1550, 1555, 1565, 1570,
       1580, 1585, 1595, 1600, 1610, 1615, 1625, 1630, 1640, 1645, 1655,
       1660, 1670, 1675, 1685, 1690, 1700, 1705, 1715, 1720, 1730, 1735,
       1745, 1750, 1760, 1765, 1775, 1780, 1790, 1795, 1805, 1810, 1820,
       1825, 1835, 1840, 1850, 1855, 1865, 1870, 1880, 1885, 1895, 1900,
       1910, 1915, 1925, 1930, 1940, 1945, 1955, 1960, 1970, 1975, 1985,
       1990])

#### 4.  Write a Function which calculate standard deviation of 1-D array and compare result with inbuilt function

*  def cal_std(arr):
         pass
        
        
 <img  align="left" src="https://cdn.kastatic.org/googleusercontent/N8xzWFc6eo0XBHEXZjz1SwvLSnPezvhTRF1P17kdjUG_tnJivGKkyCxbwVe4MZ0-USOxIZBohgcjdi8e7Z4Hswcqfw"  width=200 height = 200/>

In [57]:
a = np.random.normal(0, 10 , 100)

In [61]:
def cal_std(arr):
    mean = np.mean(arr)
    diff = mean - arr
    square =  np.power(diff , 2)
    root = np.power(np.sum(square)/(len(arr)) , 0.5)
    return root

In [62]:
cal_std(a)

11.02203608311714

In [63]:
np.std(a)

11.02203608311714