In [1]:
import pandas as pd
import numpy as np

In [2]:
nfl_data = pd.read_csv('NFL Play by Play 2009-2017 (v4).csv')
sf_permits = pd.read_csv('Building_Permits.csv')

/Users/atul/opt/miniconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (25,51) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/atul/opt/miniconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (22,32) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
nfl_data.sample(5)

,Date,GameID,Drive,qtr,down,time,TimeUnder,TimeSecs,PlayTimeDiff,SideofField,...,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
59051,2010-10-17,2010101706,21,4,1.0,09:36,10,576.0,44.0,ATL,...,NaN,0.988381,0.011619,0.987307,0.012693,0.988381,-0.001074,NaN,NaN,2010
92802,2011-09-18,2011091808,18,3,1.0,03:51,4,1131.0,45.0,NO,...,NaN,0.842088,0.157912,0.810580,0.189420,0.842088,-0.031507,NaN,NaN,2011
16356,2009-10-25,2009102502,5,1,1.0,06:38,7,3098.0,11.0,HOU,...,0.574601,0.560888,0.439112,0.622820,0.377180,0.560888,0.061932,0.042334,0.019598,2009
215654,2013-12-08,2013120805,14,3,1.0,13:53,14,1733.0,32.0,PHI,...,NaN,0.286733,0.713267,0.262827,0.737173,0.286733,-0.023906,NaN,NaN,2013
328354,2016-10-09,2016100901,13,2,NaN,00:00,0,1800.0,5.0,NE,...,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,2016

In [4]:
sf_permits.sample(5)

,Permit Number,Permit Type,Permit Type Definition,Permit Creation Date,Block,Lot,Street Number,Street Number Suffix,Street Name,Street Suffix,...,Existing Construction Type,Existing Construction Type Description,Proposed Construction Type,Proposed Construction Type Description,Site Permit,Supervisor District,Neighborhoods - Analysis Boundaries,Zipcode,Location,Record ID
74054,M554647,8,otc alterations permit,01/28/2015,0604,008,2415,NaN,Buchanan,St,...,NaN,NaN,NaN,NaN,NaN,2.0,Pacific Heights,94115.0,"(37.79221084326778, -122.43139510290277)",1369219235824
74493,201502027230,8,otc alterations permit,02/02/2015,0536,025,2465,NaN,Filbert,St,...,NaN,NaN,NaN,NaN,NaN,2.0,Marina,94123.0,"(37.79719205180882, -122.4399397801661)",1369677235084
62394,201409267421,8,otc alterations permit,09/26/2014,6692,019,149,NaN,College,Av,...,5.0,wood frame (5),5.0,wood frame (5),NaN,8.0,Bernal Heights,94110.0,"(37.73558156499656, -122.42611736829465)",1356927210756
29297,201310280442,8,otc alterations permit,10/28/2013,3071,004,30,NaN,Santa Ana,Av,...,5.0,wood frame (5),5.0,wood frame (5),NaN,7.0,West of Twin Peaks,94127.0,"(37.736586407189634, -122.46841724396515)",1322303151437
94435,201508053418,8,otc alterations permit,08/05/2015,0315,003,225,NaN,Powell,St,...,3.0,constr type 3,3.0,constr type 3,NaN,3.0,Tenderloin,94102.0,"(37.786750950965896, -122.40846710223853)",1390979233796

In [5]:
nfl_data.shape

(407688, 102)

In [6]:
sf_permits.shape

(198900, 43)

In [7]:
# get the number of missing data points per column
missing_values_count = nfl_data.isnull().sum()

In [8]:
c = missing_values_count.to_frame()
pd.set_option('display.max_rows', None)
c

                                  0
Date                              0
GameID                            0
Drive                             0
qtr                               0
down                          61154
time                            224
TimeUnder                         0
TimeSecs                        224
PlayTimeDiff                    444
SideofField                     528
yrdln                           840
yrdline100                      840
ydstogo                           0
ydsnet                            0
GoalToGo                        840
FirstDown                     28811
posteam                       24992
DefensiveTeam                 24992
desc                              2
PlayAttempted                     0
Yards.Gained                      0
sp                                0
Touchdown                         0
ExPointResult                397578
TwoPointConv                 407083
DefTwoPoint                  407664
Safety                            0
Onsidekick                        0
PuntResult                   385317
PlayType                          0
Passer                       240045
Passer_ID                         0
PassAttempt                       0
PassOutcome                  239506
PassLength                   240520
AirYards                          0
YardsAfterCatch                   0
QBHit                             0
PassLocation                 240520
InterceptionThrown                0
Interceptor                  403168
Rusher                       287124
Rusher_ID                         0
RushAttempt                       0
RunLocation                  288178
RunGap                       320260
Receiver                     246127
Receiver_ID                       0
Reception                         0
ReturnResult                 389450
Returner                     382384
BlockingPlayer               407571
Tackler1                     166134
Tackler2                     357953
FieldGoalResult              398629
FieldGoalDistance            398740
Fumble                            0
RecFumbTeam                  403315
RecFumbPlayer                403315
Sack                              0
Challenge.Replay                  0
ChalReplayResult             404286
Accepted.Penalty                  0
PenalizedTeam                378189
PenaltyType                  391261
PenalizedPlayer              379403
Penalty.Yards                     0
PosTeamScore                  26904
DefTeamScore                  26904
ScoreDiff                     24988
AbsScoreDiff                  26904
HomeTeam                          0
AwayTeam                          0
Timeout_Indicator                 0
Timeout_Team                      0
posteam_timeouts_pre              0
HomeTimeouts_Remaining_Pre        0
AwayTimeouts_Remaining_Pre        0
HomeTimeouts_Remaining_Post       0
AwayTimeouts_Remaining_Post       0
No_Score_Prob                   176
Opp_Field_Goal_Prob             176
Opp_Safety_Prob                 176
Opp_Touchdown_Prob              176
Field_Goal_Prob                 176
Safety_Prob                     176
Touchdown_Prob                  176
ExPoint_Prob                      0
TwoPoint_Prob                     0
ExpPts                          176
EPA                             369
airEPA                       248394
yacEPA                       248498
Home_WP_pre                   24954
Away_WP_pre                   24954
Home_WP_post                  26587
Away_WP_post                  26587
Win_Prob                      25009
WPA                            5541
airWPA                       248501
yacWPA                       248762
Season                            0

## Total missing values that we have in nfl_data ?

In [9]:
total_cells_nfl = np.product(nfl_data.shape)
total_cells_nfl

41584176

In [10]:
total_missing_nfl = missing_values_count.sum()
total_missing_nfl

10342875

In [11]:
# Total % of data i.e, missing
(total_missing_nfl/total_cells_nfl)*100

24.87214126835169

## Total missing values that we have in sf_permits ?

In [12]:
missing_values_count_sf = sf_permits.isnull().sum()
a = missing_values_count_sf.to_frame()
a.head(10)

                             0
Permit Number                0
Permit Type                  0
Permit Type Definition       0
Permit Creation Date         0
Block                        0
Lot                          0
Street Number                0
Street Number Suffix    196684
Street Name                  0
Street Suffix             2768

In [13]:
total_cells_sf = np.product(sf_permits.shape)
total_cells_sf

8552700

In [14]:
total_missing_sf = missing_values_count_sf.sum()
total_missing_sf

2245941

In [15]:
# Total % of data i.e, missing
(total_missing_sf/total_cells_sf)*100

26.26002315058403

# Drop missing values

In [16]:
# nfl_data.dropna()

# ndl_data Dataset
# remove all columns with at least one missing value
columns_with_na_dropped = nfl_data.dropna(axis=1)
columns_with_na_dropped.head()

,Date,GameID,Drive,qtr,TimeUnder,ydstogo,ydsnet,PlayAttempted,Yards.Gained,sp,...,Timeout_Indicator,Timeout_Team,posteam_timeouts_pre,HomeTimeouts_Remaining_Pre,AwayTimeouts_Remaining_Pre,HomeTimeouts_Remaining_Post,AwayTimeouts_Remaining_Post,ExPoint_Prob,TwoPoint_Prob,Season
0,2009-09-10,2009091000,1,1,15,0,0,1,39,0,...,0,None,3,3,3,3,3,0.0,0.0,2009
1,2009-09-10,2009091000,1,1,15,10,5,1,5,0,...,0,None,3,3,3,3,3,0.0,0.0,2009
2,2009-09-10,2009091000,1,1,15,5,2,1,-3,0,...,0,None,3,3,3,3,3,0.0,0.0,2009
3,2009-09-10,2009091000,1,1,14,8,2,1,0,0,...,0,None,3,3,3,3,3,0.0,0.0,2009
4,2009-09-10,2009091000,1,1,14,8,2,1,0,0,...,0,None,3,3,3,3,3,0.0,0.0,2009

In [17]:
columns_with_na_dropped.shape

(407688, 41)

In [18]:
# just how much data did we lose?
print("Columns in original dataset: %d \n" % nfl_data.shape[1])
print("Columns in na's dataset: %d \n" % columns_with_na_dropped.shape[1])

Columns in original dataset: 102

Columns in na's dataset: 41

In [19]:
# sf_permits Dataset
# remove all columns with at least one missing value
columns_with_na_dropped_sf = sf_permits.dropna(axis=1)
columns_with_na_dropped_sf.head()

,Permit Number,Permit Type,Permit Type Definition,Permit Creation Date,Block,Lot,Street Number,Street Name,Current Status,Current Status Date,Filed Date,Record ID
0,201505065519,4,sign - erect,05/06/2015,0326,023,140,Ellis,expired,12/21/2017,05/06/2015,1380611233945
1,201604195146,4,sign - erect,04/19/2016,0306,007,440,Geary,issued,08/03/2017,04/19/2016,1420164406718
2,201605278609,3,additions alterations or repairs,05/27/2016,0595,203,1647,Pacific,withdrawn,09/26/2017,05/27/2016,1424856504716
3,201611072166,8,otc alterations permit,11/07/2016,0156,011,1230,Pacific,complete,07/24/2017,11/07/2016,1443574295566
4,201611283529,6,demolitions,11/28/2016,0342,001,950,Market,issued,12/01/2017,11/28/2016,144548169992

In [20]:
print("Columns in original dataset: %d \n" % sf_permits.shape[1])
print("Columns in na's dataset: %d \n" % columns_with_na_dropped_sf.shape[1])

Columns in original dataset: 43

Columns in na's dataset: 12

# Filling in missing values automatically

In [21]:
subset_nfl_data = nfl_data.loc[:,'EPA':'Season'].head()
subset_nfl_data

,EPA,airEPA,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
0,2.014474,NaN,NaN,0.485675,0.514325,0.546433,0.453567,0.485675,0.060758,NaN,NaN,2009
1,0.077907,-1.068169,1.146076,0.546433,0.453567,0.551088,0.448912,0.546433,0.004655,-0.032244,0.036899,2009
2,-1.402760,NaN,NaN,0.551088,0.448912,0.510793,0.489207,0.551088,-0.040295,NaN,NaN,2009
3,-1.712583,3.318841,-5.031425,0.510793,0.489207,0.461217,0.538783,0.510793,-0.049576,0.106663,-0.156239,2009
4,2.097796,NaN,NaN,0.461217,0.538783,0.558929,0.441071,0.461217,0.097712,NaN,NaN,2009

In [22]:
# replace all NA's with 0
subset_nfl_data.fillna(0)

,EPA,airEPA,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
0,2.014474,0.000000,0.000000,0.485675,0.514325,0.546433,0.453567,0.485675,0.060758,0.000000,0.000000,2009
1,0.077907,-1.068169,1.146076,0.546433,0.453567,0.551088,0.448912,0.546433,0.004655,-0.032244,0.036899,2009
2,-1.402760,0.000000,0.000000,0.551088,0.448912,0.510793,0.489207,0.551088,-0.040295,0.000000,0.000000,2009
3,-1.712583,3.318841,-5.031425,0.510793,0.489207,0.461217,0.538783,0.510793,-0.049576,0.106663,-0.156239,2009
4,2.097796,0.000000,0.000000,0.461217,0.538783,0.558929,0.441071,0.461217,0.097712,0.000000,0.000000,2009

In [23]:
# replace all NA's the value that comes directly after it in the same column, 
# then replace all the reamining na's with 0
subset_nfl_data.fillna(method='bfill', axis=0).fillna(0)

,EPA,airEPA,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
0,2.014474,-1.068169,1.146076,0.485675,0.514325,0.546433,0.453567,0.485675,0.060758,-0.032244,0.036899,2009
1,0.077907,-1.068169,1.146076,0.546433,0.453567,0.551088,0.448912,0.546433,0.004655,-0.032244,0.036899,2009
2,-1.402760,3.318841,-5.031425,0.551088,0.448912,0.510793,0.489207,0.551088,-0.040295,0.106663,-0.156239,2009
3,-1.712583,3.318841,-5.031425,0.510793,0.489207,0.461217,0.538783,0.510793,-0.049576,0.106663,-0.156239,2009
4,2.097796,0.000000,0.000000,0.461217,0.538783,0.558929,0.441071,0.461217,0.097712,0.000000,0.000000,2009